@font-face {
  font-family: arbora, sans-serif;
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*
* ======================================================= */


body {
  font-family: arbora, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  background: white;
  height:100%;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: black;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: black;
  font-family: arbora, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: black;
  background: #293462;
}

::-moz-selection {
  color: black;
  background: #293462;
}

::selection {
  color: black;
  background: #293462;
}

.fh5co-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    padding: 20px 0;
  }
}

.fh5co-nav a {
  color: #00863d;
}
@media screen and (max-width: 768px) {
  .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
    display: none;
  }
}
.fh5co-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-nav ul li a {
  font-size: 14px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: #;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: black;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: black;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: black;
}
.fh5co-nav ul li.btn-cta a {
  color: #293462;
}
.fh5co-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}
.fh5co-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
.fh5co-nav ul li.active > a {
  color: #dc4224 !important;
}

/*<<< BACKGROUND >>>*/

.background1 {
  width: 100%;
  height:100%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  background: center center fixed;
  height: auto;
}

@media screen and (max-width: 700px) {
  .background1 {
    width: 100%;
    height: auto;
  }
}

#fh5co-details,
#fh5co-accomodation,
#fh5co-infos,
#fh5co-rsvp,
.fh5co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.fh5co-cover {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: 600px;
  }
}
.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  height: 00px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .display-t,
  .fh5co-cover .display-tc {
    height: 600px;
  }
}
.fh5co-cover.fh5co-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover-sm {
    height: 400px;
  }
}
.fh5co-cover.fh5co-cover-sm .display-t,
.fh5co-cover.fh5co-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover-sm .display-t,
  .fh5co-cover.fh5co-cover-sm .display-tc {
    height: 400px;
  }
}

/*SECTIONS HEIGHT*/

#fh5co-index {
  height: 1500px;
}

#fh5co-details {
  height: 900px;
}

#fh5co-accomodation {
  height: 900px;
}

#fh5co-rsvp {
  height: 500px;
}

#fh5co-infos {
  height: 3800px;
}

#fh5co-footer2 {
  position: fixed;
  bottom: 0px;
}

/*FOOTER2*/

/*@media screen and (max-width: 768px) {
  #fh5co-footer .copyright .pull-left,
  #fh5co-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}*/

#fh5co-footer .copyright .block {
  display: block;
}

#fh5co-footer2 p {
  display: block;
  color: #4d4e51;
  font-weight:600;
  margin-top: 17px;
}

#fh5co-footer2 i {
  color: #4d4e51;
}

/*INDEX*/

.column1 {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 150px;
}

.column2 {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 50px;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

#fh5co-index .fh5co-heading h1 {
  margin-top: 50px;
  font-size: 65px;
  color: #113862;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:700;
}
@media screen and (max-width: 768px) {
  #fh5co-index, {
    height: inherit;
    padding: 7em 0;
  }
  #fh5co-index .display-t,
  #fh5co-index .display-tc {
    height: inherit;
  }
}

#fh5co-index .fh5co-heading h2 {
  font-size: 16px;
  color: #dc4224;
  display: block;
  text-transform: uppercase;
  font-weight:700;
  margin-bottom: 2px
}
@media screen and (max-width: 768px) {
  #fh5co-index, {
    height: inherit;
    padding: 7em 0;
  }
  #fh5co-index .display-t,
  #fh5co-index .display-tc {
    height: inherit;
  }
}

.simply-countdown {
  /* The countdown */
  margin-bottom: 2em;
}

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 80px;
  height: 80px;
  background: rgba(#293462, 0.8);
  margin: 0 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: #fdef40;
  /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 30px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: #4d4e51;
  text-transform: capitalize;
  font-size: 12px;
  /* words */
}

/*ROW-FOOTER*/

/*.row-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #row-footer .copyright .pull-left,
  #row-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}

#row-footer .copyright .block {
  display: block;
}

#row-footer p {
  display: block;
  color: #4d4e51;
  font-weight:600;
  margin-top: 17px;
}

#row-footer i {
  color: #4d4e51;
}*/

/*DETAILS*/

#fh5co-details .display-t,
#fh5co-details .display-tc {
  height: 1000px;
  display: table;
  width: 100%;
}

#fh5co-details.fh5co-heading h2 {
  color: black;
}
@media screen and (max-width: 768px) {
  #fh5co-details, {
    height: inherit;
    padding: 7em 0;
  }


  #fh5co-details .display-t,
  #fh5co-details .display-tc {
    height: inherit;
  }
}
#fh5co-details .event-wrap {
  border: 2px solid rgba(47, 52, 142, 0.5);
  background: rgba(166, 214, 242, 0.1);
  padding: 30px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #fh5co-details .event-wrap {
    margin-bottom: 20px;
  }
}

#fh5co-details .event-wrap h3 {
  font-size: 16px;
  color: #113862;
  border-bottom: 1px solid rgba(47, 52, 142, 1.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:700;
}

#fh5co-details .event-wrap h4 {
  font-size: 17px;
  color: #00863d;
  text-transform: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:500;
}

#fh5co-details .event-wrap span {
  font-size: 13px;
  text-transform: bold;
  color: #4d4e51;
  display: block;
  margin-bottom: 12px;
  font-weight:500;
}

#fh5co-details .event-wrap p {
  font-size: 15px;
  color: #4d4e51;
  text-transform: bold;
  letter-spacing: 2px;
  text-align: justify;
  text-justify: inter-word;
}

#fh5co-details .event-wrap a {
  font-size: 13px;
  text-transform: bold;
  color: #4d4e51;
  display: block;
  margin-bottom: 12px;
}

#fh5co-details .event-wrap i {
  color: #4d4e51;
  font-size: 20px;
  font-style: bold;
}
#fh5co-details .event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

/*ACCOMODATION*/

#fh5co-accomodation.fh5co-heading h2 {
  color: black;
}

@media screen and (max-width: 1000px) {
  #fh5co-accomodation, {
    height: inherit;
    padding: 7em 0;
  }
}

#fh5co-accomodation h3 {
  font-size: 20px;
  color: #113862;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:700;
  margin-bottom: 20px;
  margin-top: 20px;
}

#fh5co-accomodation h4 {
  font-size: 15px;
  color: #66304a;
  text-decoration: underline;
  text-transform: bold;
  margin-top: 20px;
  text-align: left;
  font-weight:700;
}

#fh5co-accomodation p {
  font-size: 15px;
  color: #4d4e51;
  text-justify: inter-word;
  margin-block-end: 0;
  text-align: justify;
}

#fh5co-accomodation a, li {
  font-size: 15px;
  color: #4d4e51;
  text-justify: inter-word;
  margin-block-end: 0;
  text-align: justify;
}

#fh5co-accomodation .js .animate-box {
  opacity: 0;
  margin-bottom: 20px;
}

/*INFOS*/

#fh5co-infos .fh5co-heading h2 {
  color: #dc4224;

}

@media screen and (max-width: 768px) {
  #ffh5co-infos, {
    height: inherit;
    padding: 7em 0;
  }
}

#fh5co-infos h3 {
  font-size: 20px;
  color: #113862;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:700;
  margin-bottom: 20px;
  margin-top: 30px;
}

#fh5co-infos h4 {
  font-size: 15px;
  color: #66304a;
  text-decoration: underline;
  text-transform: bold;
  margin-top: 20px;
  text-align: left;
  font-weight:700;
}

#fh5co-infos h5 {
  font-size: 15px;
  color: #4d4e51;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 20px;
  text-align: left;
}

#fh5co-infos p {
  font-size: 15px;
  color: #4d4e51;
  text-justify: inter-word;
  margin-block-end: 0;
  text-align: justify;
}

#fh5co-infos a, li {
  font-size: 15px;
  color: #4d4e51;
  text-justify: inter-word;
  margin-block-end: 0;
  text-align: justify;
}

#fh5co-infos .animate-box_2 p {
  font-style: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #00863d;
  text-align: center;
  font-weight:700;
}

#fh5co-infos .js .animate-box {
  opacity: 0;
  margin-bottom: 20px;
}

/*RSVP*/

#fh5co-rsvp {
  height: 1000px;
  float: left;
}

#fh5co-rsvp .fh5co-heading h2 {
  color: #dc4224;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  #fh5co-rsvp, {
    height: inherit;
    padding: 7em 0;
  }
}

#fh5co-rsvp .text {
  margin-bottom: 40px;
}

#fh5co-rsvp p {
  font-size: 20px;
  color: #66304a;
  margin-block-end: 0;
  text-align: center;
  font-weight:700;
  font-style: bold;
}

#fh5co-rsvp label {
  font-size: 15px;
  color: #00863d;
  font-weight:700;
  float: left;

}

#fh5co-rsvp .js .animate-box {
  opacity: 0;
  margin-bottom: 20px;
}

#fh5co-rsvp .form-control {
  border: 2px solid rgba(47, 52, 142, 0.5);
  background: rgba(166, 214, 242, 0.1);
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
   float: left;
/*  border: none !important;*/
/*  color: black;*/
  font-size: 14px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-rsvp .form-control::-webkit-input-placeholder {
  color: #4d4e51;
  font-style: italic;
}
#fh5co-rsvp .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #4d4e51;
  font-style: italic;
}
#fh5co-rsvp .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #4d4e51;
  font-style: italic;
}
#fh5co-rsvp .form-control:-ms-input-placeholder {
  color: #4d4e51;
  font-style: italic;
}
#fh5co-rsvp .form-control:focus {
  background: rgba(#4d4e51, 0.3);
}
#fh5co-rsvp .btn {
  height: 54px;
  border: none !important;
  background: #293462;
  color: #fdef40;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}
#fh5co-rsvp .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-rsvp .form-inline .form-group .form-control {
  width: 100%;
}
#fh5co-rsvp .fh5co-heading {
  margin-bottom: 30px;
}


/*
****************/

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#map {
  position: relative;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #293462;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}


#fh5co-header .display-tc,
.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

#fh5co-header .display-tc h1,
.fh5co-cover .display-tc h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  font-size: 70px;
  line-height: 1;
  font-weight: bold;
  font-family: arbora, sans-serif;
  color: #113862;
}

#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: #4d4e51;
  margin-top: 11px;
}

@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 30px;
  }
}
#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media screen and (max-width: 200px) {
  #fh5co-header .display-tc h2,
  .fh5co-cover .display-tc h2 {
    font-size: 16px;
  }
}

#fh5co-header .display-tc .btn,
.fh5co-cover .display-tc .btn {
  padding: 15px 20px;
  background: #293462 !important;
  color: #f7be16;
  border: none !important;
  font-size: 14px;
  text-transform: uppercase;
}
#fh5co-header .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #fff !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#fh5co-rsvp,
/*#fh5co-footer,*/
#fh5co-details,
#fh5co-accomodation,
#fh5co-infos,
#fh5co-contact {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-rsvp,
/*  #fh5co-footer,*/
  #fh5co-details
  #fh5co-accomodation,
  #fh5co-infos,
  #fh5co-contact {
    padding: 3em 0;
  }
}
/*.fh5co-section-gray {
  background: rgba(0, 0, 0, 0.04);
}*/
.fh5co-heading {
  margin-bottom: 10px;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 60px;
  margin-bottom: 40px;
  line-height: 1.5;
  font-weight: bold;
  color: #dc4224;
  font-family: arbora, sans-serif;
}
@media screen and (max-width: 768px) {
  .fh5co-heading h2 {
    font-size: 40px;
  }
}

.fh5co-heading h3 {
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.5;
  font-weight: bold;
  color: #4d4e51;
  font-family: arbora, sans-serif;
}
@media screen and (max-width: 768px) {
  .fh5co-heading h3 {
    font-size: 20px;
  }
}

/*.fh5co-heading h4 {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-style: italic;
  text-decoration: underline;
  color: #4d4e51;
  font-family: arbora, sans-serif;
}
@media screen and (max-width: 768px) {
  .fh5co-heading h4 {
    font-size: 15px;
  }
}
*/
.fh5co-heading p {
  font-size: 15px;
  line-height: 1.5;
  color: #4d4e51;
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.fh5co-heading a {
  font-size: 15px;
  line-height: 1.5;
  color: #4d4e51;
  margin-bottom: 0px;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 5px
}


.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #293462;
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: black;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: black;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: black;
  background: black;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: black;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #293462;
  color: #f7be16;
  border: 2px solid #293462;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: white !important;
  border-color: #293462 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #f7be16;
  border: 2px solid #293462;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #293462;
  color: #f7be16;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #293462;
}

.hidden-form-group {
  display: none;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
  margin-bottom: 0px;
}


# sourceMappingURL=style.css.map
